<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Negozio PC</title>
<meta charset="UTF-8">
<link rel="icon" type="image/x-icon"
	href="https://cdn-icons-png.flaticon.com/256/17351/17351425.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- My CSS -->
<link rel="stylesheet" th:href="@{/css/styles.css}">
<!-- Materialize -->
<link
	th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
	rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css}">
<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Initialize sidenav -->
<script>
	// sidebar
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.sidenav');
		var instances = M.Sidenav.init(elems);
	});
</script>
<script>
	window.onload = gestoreLoad;

	function gestoreLoad() {
		// la funzione location reload ci permette di avere un refresh automatico della pagina
		// anche quando l'utente utilizza le frecce del browser
		window.addEventListener('pageshow', function(event) {
			if (event.persisted) {
				location.reload();
			}
		});
	}
</script>
</head>
<body>
	<header>
		<!-- Common header content -->

		<nav class="nav">
			<div class="nav-wrapper">
				<a th:href="@{/}">Home</a> <a th:href="@{/}"
					data-target="mobile-demo" class="sidenav-trigger"><i
					class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="nav-link" th:href="@{/contact}">Contattaci</a></li>
					<li><a class="nav-link" th:href="@{/blog}">Blog</a></li>
					<li><a class="nav-link" th:href="@{/carrello}">Visualizza
							Carrello <!--<span class="cart-badge" th:text="${#lists.size(lista)}">0</span> -->
					</a></li>
					<li><a class="nav-link"></a></li>
				</ul>
			</div>
		</nav>
		<ul class="sidenav" id="mobile-demo">
			<li><a th:href="@{/contact}">Contact</a></li>
			<li><a th:href="@{/blog}">Blog</a></li>
			<li><a class="nav-link" th:href="@{/carrello}">Visualizza
					Carrello</a></li>
		</ul>
	</header>
	<main layout:fragment="content">
		<!-- Page-specific content will be inserted here -->
	</main>
	<footer>
		<!-- Common footer content -->
		<div></div>
		Creato dalla gang.
	</footer>
</body>
</html>
